@using Modelo.Entidades
@model Postulacion
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ELIMINAR POSTULACION</h1>
<p>Formulario para borrar una postulacion en el sistema SCP</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Seguro que desea eliminar la postulacion: @Model.PostulacionId</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Delete">
                <input type="hidden" asp-for="PostulacionId" />

                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <input class="form-control" asp-for="Estado" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha</label>
                    <input class="form-control" asp-for="Fecha" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Proveedor</label>
                    <input class="form-control" asp-for="ProveedorId" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Oferta</label>
                    <input class="form-control" asp-for="OfertaId" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Periodo</label>
                    <input class="form-control" asp-for="PeriodoId" disabled />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Eliminar la postulacion" />
                </div>
            </form>
        </div>

    </div>
</div>

