@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <center><h1>BIENVENIDOS AL PROCESO DE CALIFICACIÓN DE PROVEEDORES</h1></center>
    <br />
</div>

<td rowspan="2">
    <center><img src="https://lmsleo.com/wp-content/uploads/2020/04/evaluaci%C3%B3n-del-desempe%C3%B1o-laboral.jpg" style="width:450px; height:375px;" alt="" /></center><h3>
    <br/>
       <center>
           <h4>ESTE PROCEDIMIENTO PERMITIRA ELEGIR A LOS PROVEEDORES 
           </h4>
        </center>
       <center>
           <h4>
              QUE ABASTECERAN DE MATERIALES Y/O SERVICIOS, REQUERIDOS POR LA EMPRESA.
           </h4>
       </center>
</h3>
</td>
