<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ANDINA SUMINISTROS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header height:75px">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-white bg-dark  border-bottom box-shadow mb-3"   >
            <div class="container"  >
                <a class="navbar-brand text-white bg-dark" asp-area="" asp-controller="Home" asp-action="Index">ANDINA SUMINISTROS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Marca" asp-action="Index">Marcas</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Periodo" asp-action="Index">Periodo</a>
                        </li>
                   
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Ofertas" asp-action="Index">Ofertas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="OfertaDet" asp-action="Index">Det_Oferta</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Postulacion" asp-action="Index">Postulacion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Calificacion" asp-action="Index">Calificacion</a>
                            </li>

                        </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <nav class="navbar navbar-default text-white bg-dark" height:75px" role="navigation">
            <a style="font-size:15px; color:white">Realizado por: Mayra Carrion y Richard Altamirano </a>
            <a style="font-size: 15px; color:white">INSTITUTO TECNOLÓGICO QUITO </a>
            <a style="font-size: 15px; color:white">ANÁLISIS EN SISTEMAS - PROGRAMACION VISUAL 2 </a>

        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
