@using Modelo.Entidades
@model Proveedor
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NUEVO PROVEEDOR</h1>
<p>Formulario para la creacion de un nuevo proveedor en el sistema SCP</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear nuevo proveedor</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Create">

                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" asp-for="Nombre" />
                </div>
                <div class="form-group">
                    <label class="control-label">RUC</label>
                    <input class="form-control" asp-for="Ruc" />
                </div>
                <div class="form-group">
                    <label class="control-label">Direccion</label>
                    <input class="form-control" asp-for="Direccion" />
                </div>
                <div class="form-group">
                    <label class="control-label">Telefono</label>
                    <input class="form-control" asp-for="Telefono" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" asp-for="Correo" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Crear el proveedor" />
                </div>
            </form>
        </div>

    </div>
</div>

